@import './base.css';

#app {
  max-width: 1240px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}


a,
.green {
  text-decoration: none;
  color: rgb(155, 165, 162);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(155, 165, 162);
  }
}

/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */